<%- include('./layout/header.ejs'); %>

<style>
    
</style>

<script>
    const onSearch = (params) => {
        const document_no = $('#document_no').val();

        window.location.href=`/search/page/${params}?document_no=${document_no ?? document_no.trim()}`;
    }
</script>

<%- include('./layout/navbar.ejs'); %>
<div class="container py-4">
    <div class="row justify-content-center align-items-center g-3 bg-light">
        <h6 class="col-12 font-semibold text-primary-emphasis" role="button" onclick="window.location.href='/menu'">
            <label>
                <i class="fa-solid fa-angles-left"></i> <%= title %>
            </label>
        </h6>
        <div class="col-12">
            <div class="form-floating">
                <input type="search" class="form-control" id="document_no" placeholder="Document No." autofocus autocomplete="off" value="<%= query?.document_no %>" onsearch="onSearch('<%= module %>')">
                <label for="document_no">
                    Document No.
                    <label class="clickable-icon ms-2">
                        <i class="fa-solid fa-qrcode clickable-icon"></i>
                    </label>
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="button" class="button btn-block w-100" onclick="window.location.href='<%= link %>'">
                <span class="button__icon">
                    <i class="fa-solid fa-plus fa-lg"></i>
                </span>
                <span class="button__text font-weight-bold">Add Document</span>
            </button>
        </div>
    </div>

    <div class="row p-3 gy-2">
        <%- details %>
    </div>
</div>

<%- include('./layout/footer'); %>